<div class="center hero-unit"> <h1>Микроблоги в Казахстане</h1>
<h2>
Добро пожаловать на представительство компании
<a href="https://twitter.com/">Twitter</a> в Казахстане.
</h2>
  <%= link_to "Регистрация!", '#', class: "btn btn-large btn-primary", href: "/signup" %> </div>
<%= link_to image_tag("/twitter.png", alt: "Twitter"), 'https://twitter.com/' %>