<footer class="footer"> <small>
<a href="http://railstutorial.org/">Книжка</a>
Michael Hartl </small>
<nav>
<ul>
<li><%= link_to "О нас", about_path %></li>
<li><%= link_to "Контакты", contact_path %></li>
<li><a href="https://blog.twitter.com/">Новости</a></li>
</ul> </nav>
</footer>